html, body {
    height: 100%;
}

body {
    background-image: url("wood.png");
}

#wrapper {
    min-height: 100%;
    margin-bottom: -60px;
}

#nav-container {
    background-color: white;
}

#nav-bar {
    background-color: white;
    width: 960px;
    margin: auto;
}

h1 {
    padding: 20px;
    background-color: green;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

.nav-link {
    padding: 20px;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    float: right;
}

.nav-link:hover {
    color: white;
    background-color: green;
}

.main-block {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    background-color: white;
    width: 900px;
}

.main-block::after {
    content: "";
    display: block;
    clear: both;
}

h2 {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

hr {
    border: 1px solid #333333;
    background-color: #333333;
}

#bio {
    font-family: Arial, Helvetica, sans-serif;
}

#profile-photo {
    float: left;
    clear: left;
    border: 10px solid #333333;
    margin-right: 30px;
}

.project {
    width: 270px;
    height: 200px;
    border: 10px solid #333333;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
}

.project:hover {
    border: 10px solid green;
}

.project-image {
    width: 100%;
    height: 100%;
}

.project-caption {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #333333;
}

.project:hover .project-caption {
    background-color: green;
}

#form {
    font-family: Arial, Helvetica, sans-serif;
}

.short-input {
    width: 100%;
    padding: 5px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    resize: vertical;
}

#wrapper:after {
    content: "";
    display: block;
    height: 60px;
}

#footer-container {
    width: 100%;
    background-color: #333333;
    border-top: 10px solid green;
    height: 50px;
}

.footer-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

@media screen and (max-width: 980px)  {
    #nav-bar {
        width: calc(100% - 60px);
        margin-left: 30px;
        margin-right: 30px;
    }

    .main-block {
        width: calc(100% - 120px);
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width : 768px) {
    /* Don't really need this one when using 100% width to automatically adjust content width? */
}

@media screen and (max-width : 640px) {
    .nav-bar {

    }

    .main-block {
        
    }
}